# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map


####### common ignores below #######

# Eclipse/RAD
.settings/
.metadata/
classes/

# JetBrains IntellijIDEA/WebStorm
.idea/
*.iml
*.iws

# System Files
.DS_Store
Thumbs.db

# Numerous always-ignore extensions
*.diff
*.bak
*.tmp
*.moved
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
